.head{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.head img{
    width: 100%;
    height: auto; 
    display: block;
}

.open{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
    color: #3D6889;  
    font-family: Yantramanav ,sans-serif;  
    word-wrap: break-word;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    position: absolute;
    transform: translate(-00%, -60%);
    top: 86%;
    left: 12%;
    justify-content: center;
    
}

.size{
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 25px;
}

.size h3{
    color: white; 
    font-size: 18px; 
    font-family: Yantramanav, sans-serif; 
    word-wrap: break-word;
    margin-bottom: 40px;
    text-align: left;
}

.content div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
}


.content hr{
    width:70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;

    border: 1px solid white;
}

.content p{
    color: white; 
    font-size: 11px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 18.12px; 
    word-wrap: break-word;
    
}

.hours{
    background-color: #3D6889;
}

.details{
    background-color: #4E8DBD;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details a{
    text-decoration: none;
    
    border: 1px solid white;

    color: white; 
    font-size: 11px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 18.12px; 
    word-wrap: break-word;
    padding: 10px;
    
}

.details a:hover{
    background-color: white;
    color: #4E8DBD;
}

.appointment{
    background-color: #73D0F4;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.appointment a{
    text-decoration: none;
    
    border: 1px solid white;

    color: white; 
    font-size: 11px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 18.12px; 
    word-wrap: break-word;
    padding: 10px;
    
}

.appointment a:hover{
    background-color: white;
    color: #73D0F4;
}

.section1{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section1 img{
    width: 100%;
    height: auto; 
    display: block;
}

.Us{
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    border-bottom: 1px solid #88ADB9;
}

.section1 h1{
    color: #3D6889; 
    font-size: 35px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 700; 
    line-height: 35px; 
    word-wrap: break-word;
}

.Us p{
    color: #88ADB9; 
    font-size: 17px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 22px; 
    word-wrap: break-word;
    margin-top: 15px;
    
}

.info{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin-top: 10PX;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40PX;
    width: auto;
    border-bottom: 1px solid #88ADB9;
    padding-bottom: 20px;
    padding-top: 20PX;
    
}

.row img{
    width: auto;
    height: auto;
}

.row h1{
    color: #3D6889; 
    font-size: 25px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 700; 
    line-height: 35px; 
    word-wrap: break-word;
    margin-left: 20px;
}

.row div{
    display: flex;
}

.section2{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.section2 img{
    width: 100%;
    height: 700px; 
    display: block;
    filter: brightness(0.3);
}

.services{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.services h1{
    color: #73D0F4; 
    font-size: 35px; 
    font-family: Yantramanav, sans-serif;
    font-weight: 500;
    line-height: 35px; 
    word-wrap: break-word;
    margin-bottom: 10px;
}

.services p{
    color: white;
}

.medical{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    
}

.row2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    width: 100%;
    text-align: center;
    
}

.row2 div{
    width: 200%;
    margin-top: 100px;
}

.row2 img{
    width: auto;
    height: auto;
    filter: brightness(1);
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.row2 h1{
    color: white;
    font-size: 25px;
    font-family: Yantramanav, sans-serif;
    font-weight: 500;
    line-height: 25px; 
    word-wrap: break-word;
}

.row2 p{
    color: #C3D7E1; 
    font-size: 17px; 
    font-family: Arial; 
    font-weight: 400; 
    line-height: 22px; 
    word-wrap: break-word;
    margin-top: 10px;
}

.section3{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.title2{
    margin: 50px;
}

.title2 h1{
    color: #3D6889; 
    font-size: 35px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 500; 
    line-height: 35px; 
    word-wrap: break-word;
}

.title2 p{
    color: #729EAC; 
    font-size: 17px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 22px; 
    word-wrap: break-word;
    width: 60%;
    margin-top: 30px;
}



.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
    
    
}

.card{
    background-color: white;
    padding: 20px;
}

.card h1{
    text-align: center; 
    color: #3D6889; 
    font-size: 25px; 
    font-family: Yantramanav, sans-serif;
    font-weight: 500;
    line-height: 27.50px;
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card p{
    text-align: center;
    color: #88ADB9;
    font-size: 17px;
    font-family: Arial;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    border-bottom: 1px solid #88ADB9 ;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.card img{
    width: 100%;
}

.card a{
    text-decoration: none;
    border: 1px solid;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    color: white; 
    font-size: 14px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 22.40px; 
    word-wrap: break-word;
    transition: 0.6s;
}

.c1 h1{
    color: #3D6889;
}
.c1 a{
    background-color: #3D6889;
}
.c1 a:hover{
    color: #3D6889;
    background-color: white;
}

.c2 h1{
    color: #4E8DBD;
    border: #4E8DBD;
}
.c2 a{
    background-color: #4E8DBD;
}
.c2 a:hover{
    color: #4E8DBD;
    background-color: white;
}

.c3 h1{
    color: #73D0F4;
    border: #73D0F4;
}
.c3 a{
    background-color: #73D0F4;
}
.c3 a:hover{
    color: #73D0F4;
    background-color: white;
}


.section4{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.section4 img{
    width: 100%;
    height: 500px; 
    display: block;
    filter: brightness(0.3);
}

.section4 .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section4 h1{
    text-align: center; 
    color: #73D0F4; 
    font-size: 35px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 500; 
    line-height: 38.50px; 
    word-wrap: break-word;
    margin-bottom: 20px;
}

.section4 #p1{
    text-align: center; 
    color: white; 
    font-size: 24.80px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
    margin-bottom: 10px;
}

.section4 #p2{
    text-align: center; 
    color: #C3D7E1; 
    font-size: 14px; 
    font-family: Arial; 
    font-weight: 700; 
    line-height: 22px; 
    word-wrap: break-word;
}

.section5{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 10px;
}