section{
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.photo {
    width: 50%;
    align-items: center;
    margin: auto;
}

p{
    color: red;
}