*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3F8F9;
}

.upNav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto; 
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}



.small{
    color: #C3D7E1; 
    font-size: 11px; 
    font-family: Arial,sans-serif; 
    font-weight: 700; 
    line-height: 14.24px; 
    word-wrap: break-word;
}

.left{
    text-align: left;
    margin-left: 100px;
}

.big{
     
    color: #88ADB9; 
    font-size: 25px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 700; 
    line-height: 25px; 
    word-wrap: break-word;
}

.right{
    text-align: right;
    margin-right: 100px;
}

.midNav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto; 
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #3D6889;
    padding: 20px;
}

.midNav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.midNav li{
    color: #C3D7E1; 
    font-size: 14px; 
    font-family: Arial,sans-serif; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 14px; 
    letter-spacing: 0.30px; 
    word-wrap: break-word;
}

.midNav a{ 
    color: #C3D7E1; 
    text-decoration: none;
    font-size: 14px; 
    font-family: Arial,sans-serif; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 14px; 
    letter-spacing: 0.30px; 
    word-wrap: break-word;
    transition: 1.1s;
    padding:  10px;
}

.midNav a:hover{
    color: white;
}

.reg{
    margin-left: 320px;
}

.reg a, p{
    color: #C3D7E1; 
    font-size: 20px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
    
}

.reg a:hover{
    color: white;
}

.bottomNav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E5F4FF;
}

.bottomNav a{
    color: #88ADB9; 
    font-size: 24px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 700; 
    word-wrap: break-word;
    text-decoration: none;
    margin-right: 10px;
}

.bottomNav p{
    color: #3D6889; 
    font-size: 24px; 
    font-family: Yantramanav, sans-serif; 
    font-weight: 700; 
    word-wrap: break-word;
}